body{
      background-image: url('../image/background-image.jpg');
}

h3{
	color: #ffffff;

}

p {
	color: #fffff;
}

 

table#game_board{
	margin:auto;
	border-style: solid;
	border-width: 10px;
	border-color: #9df9ff;

}

table#game_board td{
	padding:5px;
	border-style: solid;
	border-width: 1px;
	border-color: #9df9ff;

}

#messages p{
	margin: 0px;
}

td.hovered_over:hover {
	background: url('../image/hover.gif');
	background-size: 100% 100%;
}